<nav>
    <ul class="metismenu" id="menu">
        <li><a href="/homeDash"><i class="ti-home"></i><span>Home</span></a></li>
<li><a href="contact.html"><i class="ti-user"></i><span>Contact Details</span></a></li>
        <li><a href="/doctor/medicalRecord"><i class="fas fa-file-medical"></i><span>Medical Record</span></a></li>
        <li class="active"><a href="/doctor/prescription"><i class="fas fa-pills"></i> <span>Prescription</span></a></li>
    </ul>
</nav>
